body
  font-size: 14px
  -webkit-font-smoothing: antialiased
  font-family: $font-family-base

.section
  margin-top: 70px

.is-fullwidth
  width: 100%

.is-clickable
  cursor: pointer

a
  color: $brand-primary

dd
  color:  $body-color

.btn > span.icon
  margin-left: 1rem
