.address-box
  &__address,
  &__phone,
  &__email
    margin: 0 0 5px

  &__address__title,
  &__phone__title,
  &__email__title
    color: $gray
    display: inline-block
    margin: 0

    &:after
      content: ':'

  &__address__content,
  &__phone__content,
  &__email__content
    display: inline-block
    color: $body-color

  &__phone__content,
  &__email__content
    &:hover,
    &:focus
      color: $gray
      text-decoration: none
