.alert
  padding: 12px 18px
  margin-bottom: 20px
  width: 100%

  &--success
    color: #88be68
    background-color: #f6fcf2

  &--info
    color: #67c1c4
    background-color: #f0fafa

  &--danger
    color: #e95c5c
    background-color: #faefee

  &--warning
    color: #c4a667
    background-color: #faf8f0
