.back-to-top
  $back-to-top-size: 32px !default
  $block: &
  display: block
  position: fixed
  z-index: 100
  width: $back-to-top-size
  height: $back-to-top-size
  background-color: #fff
  text-align: center
  font-size: 20px
  bottom: -40px
  right: 20px
  line-height: 28px
  border: 1px solid #ebebeb
  border-radius: 50%
  transition: all 0.3s ease-in-out
  text-decoration: none
  box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.03)

  &.is-active
    bottom: 20px

  &:hover
    background-color: $brand-primary

  &__link
    display: block
    width: $back-to-top-size
    height: $back-to-top-size
    color: $body-color
    cursor: pointer

  &__icon
    color: inherit
    transition: all 0.3s ease-in-out

    #{$block}:hover &
      color: #fff
