button,
.btn
  outline: none
  cursor: pointer

.btn
  background: #424242
  color: #fff
  transition: all 0.3s ease-in-out
  text-transform: uppercase
  letter-spacing: 0.1em
  text-decoration: none
  border: 1px solid transparent
  height: $btn-md-size
  display: inline-flex
  justify-content: center
  align-items: center
  text-align: center
  padding: 0 12px
  cursor: pointer

  &-lg
    font-size: 15px
    height: $btn-lg-size

  &-sm
    font-size: 14px
    height: $btn-sm-size

  &:hover,
  &:focus
    background: #000
    color: #fff
    text-decoration: none

  &-primary
    background: $brand-primary
    color: $white
    border: 1px solid transparent

    &:hover,
    &:focus
      background-color: darken($brand-primary, 15%)
      color: $white

  &-secondary
    background-color: $gray-lightest
    color: $gray-light
    border: 1px solid transparent

    &:hover,
    &:focus
      background-color: $brand-primary
      color: $white

  &-input
    background-color: $white
    color: lighten($gray-light, 25%)
    border: 1px solid $gray-lighter

    &:hover,
    &:focus
      background-color: $white
      border-color: $brand-primary
      color: $brand-primary

  &.disabled,
  &[disabled]
    opacity: 0.6
    pointer-events: none
