@keyframes loading
  $initial-size: 10px
  $px-larger: 2px

  0%
    opacity: 0.2
    border: $px-larger/2 solid transparent
  25%
    opacity: 1
    width: $initial-size + $px-larger
    height: $initial-size + $px-larger
    border: 0
  80%
    opacity: 0.2
    border: $px-larger/2 solid transparent
  100%
    opacity: 0.2
    border: $px-larger/2 solid transparent

.content-loader
  display: flex
  justify-content: center
  align-items: center

  & span
    background-color: #000
    opacity: 0.2
    width: 10px
    height: 10px
    border-radius: 50%
    margin-left: 15px
    animation: loading 2.1s infinite

    &:nth-child(0n+1)
      animation-delay: 0.7s

    &:nth-child(0n+2)
      animation-delay: 1.4s
