label
  display: inline-block
  margin-bottom: .5em

textarea,
input
  outline: none
  color: #222
  border: 1px solid $gray-lighter
  border-radius: 0
  box-shadow: none
  font-size: 15px
  padding: 3px 0.75em

  &:focus,
  &:active
    border-color: $brand-primary

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none

.custom-select
  border-radius: 0

.form-control
  border-color: $gray-lighter

  &::placeholder
    color: #ababab

  &:focus
    border-color: $brand-primary
