// Apply style to mobile.
.heading
  // TODO: figure out a more consistent way to do this across the app
  &__wrapper > .container
    display: flex
    flex: 1 1 auto
    align-items: center

  &__wrapper
    display: flex
    flex-direction: row

  &__logo
    flex: 1 1 auto
    order: 2
    text-align: center

  &__mobile-cart
    flex: 0 1 auto
    order: 3
    right: 1rem

  &__mobile-menu-toggle
    flex: 0 1 auto
    order: 1
    margin: 0

    .mobile-menu-toggler
      margin: 0


  // Apply style to tablet.
  @include media-breakpoint-up(sm)

    &__wrapper
      min-height: 120px

    &__search-bar
      flex: 0 1 auto

    &__logo
      order: 1
      align-self: center
      text-align: center
      font-family: $headings-font-family

    &__cart
      flex: 0 1 auto
      order: 3

  @include media-breakpoint-up(md)
    &__wrapper > .container
      flex: 0 1 auto
