.hero
  position: relative

  &__image
    display: block

  &__content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: #fff

    &:before,
    &:after
      content: ''
      display: inline-block
      height: 1px
      width: 185px
      background-color: #fff

  &__title
    margin: 25px 0
    font-family: $headings-font-family
