.hero-slider
  height: auto
  margin-bottom: 32px

  &--autocrop
    height: 50vh

  &__slide
    width: 100%
    height: auto

    & img
      width: 100%
      height: auto
      display: block

  &--autocrop &__slide
    height: 50vh
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
