.loader-mask
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #fff
  z-index: 99999

.loader
  position: absolute
  left: 50%
  top: 50%
  width: 50px
  height: 50px
  font-size: 0
  color: $brand-primary
  display: inline-block
  margin: -25px 0 0 -25px
  text-indent: -9999em
  transform: translateZ(0)

  &:before,
  &:after
    content: ''
    display: inline-block
    background-color: $brand-primary
    float: none
    position: absolute
    top: 0
    left: 0
    width: 50px
    height: 50px
    opacity: .5
    border-radius: 50%
    animation: ballPulseDouble 2s ease-in-out infinite

  &:after
    animation-delay: -1s

@keyframes ballPulseDouble
  0%, 100%
    transform: scale(0)

  50%
    transform: scale(1)
