.login-methods
  display: flex
  align-items: center
  flex-direction: column

.login-method
  color: $gray-light
  background: $gray-lightest
  padding: 34px 15px
  width: 360px
  cursor: pointer

  &__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__icon
    font-size: 32px

  &__text
    display: flex
    flex-direction: column
    align-items: center

  &__title
    font-size: 14px
    margin-bottom: 4px
    margin-top: 6px
    text-transform: uppercase
    letter-spacing: .1em
    font-family: $headings-font-family

  &__body
    margin: 0
    font-size: 13px

.login-or
  display: flex
  width: 360px
  align-items: center
  margin: 30px 0
  color: $body-color

  &:before,
  &:after
    flex: 1
    content: ''
    height: 1px
    border-top: 1px solid #ccc

  &:after
    margin-left: 15px

  &:before
    margin-right: 15px
