.navigation
  // TODO: figure out a more consistent way to do this across the app
  & > .container
    display: flex

  @include media-breakpoint-down(md)
    display: none

    &.is-active
      display: block
      margin-bottom: 70px

  &__menu
    margin: 0
    padding: 0
    border-top: 1px solid #ebebeb
    border-bottom: 1px solid #ebebeb
    display: flex
    justify-content: center
    align-items: center
    min-height: 45px
    list-style: none
    flex: 1

    @include media-breakpoint-down(md)
      flex-direction: column
      align-items: stretch

  &__item
    list-style: none

  &__mobile-items
    list-style: none
    padding: 0
    margin: 0

  &__mobile-item
    & + &
      border-top: 1px solid #ebebeb

  &__mobile-link
    padding: 15px
    display: block
    color: $body-color
    border-bottom: 1px solid #ebebeb

    &:hover,
    &:focus
      color: $brand-primary
      text-decoration: none
