.order-track
  margin-top: -(#{$page-padding-top/2})

  &__container
    display: flex
    padding: 1rem
    flex-direction: column
    justify-content: center

    h2, p
      text-align: center

  &__search-box
    margin: 0 auto
    padding: 1rem 0
    button
      display: block
      margin: 0 auto

  &__list
    margin: 0
    padding: 0
    list-style: none

  &__list-header
    display: none

  &__list-item
    position: relative
    margin: .5rem 0
    padding: 1rem
    border-radius: 4px
    border: 1px solid #ebebeb

    .list-item
      &__invoice-number
        font-weight: bold
        margin-bottom: .5rem
      &__total_price
        position: absolute
        top: 1rem
        right: 1rem
      &__paid-status
        position: absolute
        bottom: .5rem
        right: .5rem

  @include media-breakpoint-up(sm)

    &__list-header
      display: flex
      flex-direction: row
      margin: 0
      padding: 1rem 0
      border-top: none
      border-left: none
      border-right: none
      border-bottom: 2px solid #ebebeb

      .list-header
        flex: 0 1 25%
        font-weight: bold
        text-align: center

    &__list-item
      display: flex
      flex-direction: row
      padding: 1rem 0
      border-top: none
      border-left: none
      border-right: none
      border-bottom: 1px solid #ebebeb

      .list-item
        flex: 0 1 25%
        text-align: center

        &__invoice-number
          font-weight: bold
          margin-bottom: .5rem
        &__total_price
          position: relative
          top: auto
          right: auto
        &__paid-status
          position: relative
          bottom: auto
          right: auto

    &__invoice-number
      font-weight: normal