.order-view
  margin-top: -(#{$page-padding-top/2})

  &__container
    display: flex
    background-color: #f7f7f7
    padding: 1rem

    @include media-breakpoint-down(md)
      flex-direction: column

  &__progress
    order: 1
    min-width: 350px
    margin: 1rem

    @include media-breakpoint-down(md)
      width: 100%
      min-width: 300px
      margin: 0
      margin-top: 1rem

  &__details
    order: 0
    min-width: 350px
    margin: 1rem

    @include media-breakpoint-down(md)
      width: 100%
      min-width: 300px
      margin: 0
