.order-details
  width: 100%
  background-color: #f7f7f7

  &__heading
    display: flex
    align-items: center

    .fa
      font-size: 22px
      margin-left: 10px

  &__order
    color: #000000
    border: 2px solid gray
    background-color: #ffffff
    padding: 1rem

  &__dates
    & > *
      text-align: right

  &__address
    margin: 2rem 0

  &__address
    margin-right: 2rem

  &__col--price
    text-align: right
