.page-item
  $block: &
  position: relative
  align-self: stretch
  align-items: center
  display: flex

  &--is-megamenu
    position: static

  &:hover,
  &:focus
    #{$block}__dropdown
      transform: translateY(0)
      opacity: 1
      visibility: visible
      height: auto

  &__wrapper
    width: 100%

  &__dropdown
    @include media-breakpoint-up(md)
      height: 0
      z-index: 100
      position: absolute
      top: 100%
      left: 0
      list-style: none
      padding: 30px 0
      margin: 0
      min-width: 230px
      border: 1px solid #ebebeb
      box-shadow: 0 2px 4px rgba(0, 0, 0, .05)
      background: #fff
      opacity: 0
      visibility: hidden
      transform: translateY(30px)
      transition: transform .1s ease-in-out, opacity .1s ease-in-out

      & .page-item
        padding: 9px 0

      & .page-item__link
        padding-left: 37px
        padding-right: 37px
        padding: 0 25px
        width: 100%

    @include media-breakpoint-down(md)
      // TODO: disabled until reimplemented
      height: 0
      overflow: hidden
      padding: 0

      & .page-item
        width: 100%

      & .page-item__link
        text-transform: none
        color: $body-color
        padding-left: 25px

        &:hover,
        &:focus
          color: $gray

  &__link
    padding: 0 17px
    text-transform: uppercase
    color: #666

    &:hover,
    &:focus
      color: #000
      text-decoration: none

    @include media-breakpoint-down(md)
      // I'd like a more elegant way to match the font-size from megamenu__title-link
      font-size: 14px
      padding: 15px
      display: block
      border-bottom: 1px solid #ebebeb
      width: 100%

  &__link--with-dropdown
    padding-right: 0

    @include media-breakpoint-down(md)
      display: flex

    & #{$block}__dropdown-toggle
      margin-left: 5px

      @include media-breakpoint-down(md)
        margin-left: auto
