.page
  padding: $page-padding-top 0 40px

  @include media-breakpoint-down(sm)
    padding: 0 0 40px

  &__wrapper
    display: flex

    @include media-breakpoint-down(sm)
      flex-wrap: wrap

  &__main
    flex: 1 0 auto
    width: calc(80% - 50px)
    margin-left: 50px
    order: 2
    margin-bottom: 50px

    @include media-breakpoint-down(sm)
      margin-left: 0
      width: 100%

  &__alt
    flex: 1 0 auto
    width: 20%
    order: 1

    @include media-breakpoint-down(sm)
      width: 100%
