.page-title
  $page-title-size: 30px
  $page-title-space: 57px

  &__title
    margin: 0
    font-size: $page-title-size
    color: $gray
    font-weight: 400
    line-height: 1.2
    text-align: center
    padding: $page-title-space 0
    text-transform: uppercase
    letter-spacing: 0.1em
    font-family: $headings-font-family

    @include media-breakpoint-down(sm)
      padding: #{$page-title-space * 0.65} 0

  &__subtitle
    margin: 0
    font-size: #{$page-title-size * 0.6}
    color: $gray-light
    font-weight: 400
    line-height: 1.2
    text-align: center
    padding: 0
    text-transform: uppercase
    letter-spacing: 0.08em
    padding-bottom: $page-title-space
    font-family: $headings-font-family

    @include media-breakpoint-down(sm)
      padding-bottom: #{$page-title-space * 0.65}

  &__title + &__subtitle
    margin-top: -#{$page-title-space * 0.85}

    @include media-breakpoint-down(sm)
      margin-top: -#{$page-title-space * 0.65}
