.service-box
  $box: &
  color: $gray-light
  background: $gray-lightest
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 34px 17px

  &__icon
    font-size: 32px

    #{$box}.is-success &
      color: #02b002

    #{$box}.is-danger &
      color: #c90000

  &__text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
