.sitemap
  display: flex

  @include media-breakpoint-down(xs)
    flex-direction: column

  &__column
    flex: 1

    @include media-breakpoint-down(md)
      margin-top: 45px // consistant with .foot__column -- TODO: refactor?

  &__links
    list-style: none
    margin: 0
    padding: 0

  &__item + &__item
    padding-top: 12px

  &__link
    color: $body-color
    font-size: 13px
    transition: color .1s ease-in-out

    &:hover,
    &:focus
      color: $gray
      text-decoration: none
