.vue-slider
  // !important is needed to overwrite the strong specificity

  background: $gray-lightest !important
  height: 5px !important

  &-wrap
    margin-bottom: 24px !important
    padding: 0 !important

  &-dot
    width: 14px !important
    height: 14px !important
    background: $gray !important
    box-shadow: none !important

  &-process
    background: $brand-primary !important
    height: 5px !important

  &-tooltip
    background-color: #333 !important
    border-color: #333 !important
