// TODO:
// extract colors
// convert font-sizes to rem

.widget
  & + &
    margin-top: 50px

    @include media-breakpoint-down(xs)
      margin-top: 30px

  &__title
    color: $widget-title-color
    text-transform: uppercase
    margin-bottom: 30px
    font-size: 14px
    letter-spacing: .1em
    font-family: $headings-font-family

    @include media-breakpoint-down(md)
      margin-bottom: 15px // consistant with .foot__title -- TODO: refactor?

  &__list
    list-style: none
    margin: 0
    padding: 0

    @include media-breakpoint-down(sm)
      display: flex
      justify-content: space-around
      align-items: center
      flex-wrap: wrap

  &__list-item + &__list-item
    padding-top: 12px

    @include media-breakpoint-down(sm)
      padding-top: 0

  &__list-link
    color: $body-color

    .widget__list-item.is-active &
      color: #000

    &:hover,
    &:focus
      color: $brand-primary

    &:hover,
    &:focus
      text-decoration: none

  &__tags
    display: flex
    flex-wrap: wrap

  &__tag
    flex: 0 1 auto
    text-align: center
    text-transform: uppercase
    letter-spacing: .1em
    padding: 8px 11px
    line-height: 1
    margin: 0 3px 3px 0
    font-size: 13px
    color: $body-color
    background: $gray-lightest
    transition: all .3s ease-in-out
    cursor: pointer

    &:hover,
    &:focus
      background-color: $brand-primary
      color: #fff
      text-decoration: none
