@mixin search
  &__form
    position: relative
    display: flex
    height: 41px

  &__input
    border: 1px solid #ebebeb
    background-color: #fcfcfc
    color: #555
    font-size: 14px
    font-family: Maven Pro, sans-serif
    padding: 0 16px

  &__button
    border: 0
    background: transparent
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 41px
    cursor: pointer
    color: $body-color
    font-size: 12px
    line-height: 1

    &:hover
      color: #222
